
<div class="text-layout">
    <h1>Decimal pipe y procentaje</h1>
    <p>
        Pipes incluidos en angular -Usualmente estan en en common Module
    </p>

</div>

<div class="grid">
    <div class="col-4">
        <p-card header="Ventas Netas"
                subheader="del  prsente año">
                <i class="pi pi-dollar"></i>
                {{ ventasTotales + 1000000 | number:'1.4-4'}}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="Ventas brutas"
                subheader="del  prsente año">
                {{(ventasTotales + 2000000)| currency:'CAN':'symbol-narrow':'1.6-6'}}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="Ganancias Porcentual"
                subheader="del  prsente año">
                {{porcentaje | percent:'2.2-2'}}
        </p-card>
    </div>

</div>