

<!-- vamos a trabajar con los pipes de angular, los pipes de angular solo son para combiar el
nunca cambia la data. 
 tenemos diferentes pipes en angular los hay desde organizar los titulos, pasar los string de minusculas a mayusculas y viceversa
 para trabajar con numwros, json idimas




-->
<!-- con este pipe aorganizamos las palabras la primera palabra la organizar en 
mayuscula y las pondra en orden, los pipes no canbian la data que llega solo la cambia en le html -->

<!-- <div class="text-layout">
  <h1>hola {{nombre | titlecase}}</h1>
  
  <h1>hola {{valor | number}}</h1> -->
  
  <!-- los pipes de angular sirven para trasformar visualmente la informacion -->
  <!-- <h4>{{'pipes de la primera palabra en mAyusculas' | titlecase}}</h4> 
  <h4>{{'pipes de  todo en mayuscula' | uppercase}}</h4> 
  <h4>{{'PIPES DE TODO EN MINUSCuLA' | lowercase}}</h4> 
  <h4>{{valor | number}}</h4> 
  <h4>{{obj | json}}</h4> 
  
  <h4>{{nombre | titlecase}}</h4>
  

</div> -->

<!-- <button icon="pi pi-bell"
        iconPos="right"
        class="p-button-help"
        pButton 
        (click)="mostrarNombre()"
        label="cambiar Nombre"> -->
  
<!-- </button>
<hr> -->
<!-- puedo usar tambien alguna propieda que tenga en mi .ts
 se hace llamandola colocando la propieda de mi prime ng en [], y tambien dentro puredo usar lospipes
sin problema -->
<!-- <p-card [header]="nombre | titlecase"
subheader="subtitulo">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores
   earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
</p-card> -->





<app-menu></app-menu>
<router-outlet></router-outlet>


